.filter-list {
  margin-bottom: 50px;
  @include alignment(stretch, center);
  gap: 8px;
}
.filter__button {
  @include alignment(center, center);
  min-width: 73px;
  padding: 6px 22px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(26 / 16);
  text-align: center;
  letter-spacing: 0.03em;
  border: none;
  border-radius: 4px;
  color: var(--title-color);
  background-color: var(--filter-color);
  cursor: pointer;

  @include transition(background-color, color, box-shadow);

  &--active,
  &:hover,
  &:focus {
    color: var(--white-color);
    background-color: var(--active-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}
