body {
  position: relative;
}
.menu {
  position: fixed;
  padding: 21px 25px 48px 40px;
  top: 0;
  left: 0;
  width: 100%;
  height: 796px;

  background-color: var(--white-color);

  transform: translateX(0);
  @include transition(transform);
}
.menu.is-open{
  transform: translateX(100%);
}
.button-close {
  @include alignment(center, center);
  margin-left: auto;
  padding: 0;
  width: 40px;
  height: 40px;
  border: none;
  background-color: transparent;
  color: var(--title-color);

  @include transition(color);

  &:hover,
  &:focus {
    color: var(--active-color);
  }
}
.button-close__icon {
  fill: currentColor;
}
.menu__list {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-bottom: 306px;
}
.menu__link {
  font-weight: 500;
  font-size: 40px;
  line-height: calc(47 / 40);
  letter-spacing: 0.02em;

  color: var(--title-color);
}
.menu__link.current{
  color: var(--active-color);
}
.contact-menu {
  @include alignment();
  flex-direction: column;
}
.contact-menu__tel {
  margin-bottom: 32px;
  font-weight: 500;
  font-size: 34px;
  line-height: 40px;
  letter-spacing: 0.02em;
  color: var(--active-color);
}
.contact-menu__mail {
  margin-bottom: 64px;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.02em;
  color: var(--paragraf-color);
}
.social-menu__item {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.02em;
  color: var(--active-color);

  &:not(:last-child)::after {
    content:"";
    width: 22px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    margin-right: 10px;
    margin-left: 10px;
  }
}
