.portfolio-item {
  --card-set-column: 3;
}
.portfolio-link {
  @include alignment;
  flex-direction: column;
  width: 100%;
  height: 100%;
  cursor: pointer;

  @include transition(box-shadow);

  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }

  &:hover .portfolio-overlay__field,
  &:focus .portfolio-overlay__field {
    transform: translateY(0);
  }
}
.portfolio-overlay {
  position: relative;
  overflow: hidden;

  &__field {
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(100%);
    width: 100%;
    height: 100%;
    @include alignment(center);
    padding-left: 24px;
    padding-right: 24px;
    background-color: rgba(33, 150, 243, 0.9);

    @include transition(transform);
  }

  &__text {
    font-size: 18px;
    line-height: calc(28 / 18);
    color: var(--white-color);
  }
}

.portfolio-data {
  padding: 20px 24px;
  border: 1px solid var(--portfolio-border);
  border-top: 0;

  &__header {
    margin-bottom: 4px;
    font-size: 18px;
    line-height: calc(36 / 18);
    letter-spacing: 0.06em;
    color: var(--title-color);
  }

  &__text {
    font-size: 16px;
    line-height: calc(30 / 16);
    color: var(--paragraf-color);
  }
}
