:root {
    --title-color: #212121;
    --paragraf-color: #757575;
    --active-color: #2196f3;
    --white-color: #ffff;
    --filter-color: #f5f4fa;
    --active-button: #188ce8;
    --portfolio-border: #eee;
    --link-footer: rgba(255, 255, 255, 0.6);
    --icons-footer-bg: rgba(255, 255, 255, 0.1);
    --icons-color: #afb1b8;
    --text-decoration: none;
    --marker: none;
    --card-set-gap: 30px;
    --card-set-column: 1;
    --bg-hero-footer:  rgba(47, 48, 58, 1);
  }